/* Jump specific styles */
#jump-wrapper {
    /* Center the elements */
    text-align: center;
}
#input-left, #input-right {
    border: 1px solid blue;
    /* don't add an outline, we use the border */
    outline: none;
}
#jump-button {
    background-color: lightgrey;
    border: 1px solid green;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}